$primary: #31ccc9;

$border-color: rgba(0,0,0,.125);

$padding-vertical: 12px;
$padding-horizontal: 20px;
$icon-sm: 24px;

button {
  cursor: pointer;
}

.actionBox {
  right: 0;
  position: absolute;
  margin-top: -$padding-vertical;
  padding: $padding-vertical $padding-horizontal;
  border-left: 1px solid $border-color;
  cursor: pointer;

  img {
    height: $icon-sm;
    width: $icon-sm;
  }

  &:hover {
    padding: $padding-vertical - 2px $padding-horizontal - 2px;

    img {
      width: $icon-sm + 4px;
      height: $icon-sm + 4px;
    }
  }
}

.card a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.col-6 {
  padding: {
    right: 7.5px;
    left: 7.5px;
  }

  &:first-child {
    padding-left: 15px;
  }

  &:last-child {
    padding-right: 15px;
  }
}