$primary: #31ccc9;

$border-color: rgba(0,0,0,.125);

$padding-vertical: 10px;
$padding-horizontal: 10px;
$icon-sm: 24px;

$container-padding: 15px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;
$container-xl: 1140px;

a[disabled] {
  pointer-events: none;
}

.color-inherit {
  color: inherit;
}

.tutorial-container {
  p {
    margin-bottom: 0.5rem;
  }

  .btn-group-vertical {
    display: block;
    margin: {
      left: -$container-padding;
      right: -$container-padding;
    }

    @media (min-width: $sm) {
      width: ($container-sm / $container-md) * 100%;
      margin: 0 auto;
    }

    @media (min-width: $md) {
      width: ($container-sm / $container-lg) * 100%;
    }

    @media (min-width: $lg) {
      width: ($container-sm / $container-xl) * 100%;
    }

    button, a {
      @media (max-width: $sm - 1) {
        border: {
          left: 0;
          right: 0;
          radius: 0;
        }
      }

      border: {
        bottom: 0;
      }

      &:last-child {
        border-bottom: 1px solid;
      }
    }
  }
}

button {
  cursor: pointer;
}

ul {
  padding-left: 20px;
}

.list-group-item {
  display: block;
  width: 100%;

  .row {
    margin: 0;
    width: 100%;
  }

  .col-form-label {
    padding: {
      top: 0;
      bottom: 0;
      right: 0;
    }
  }
}

.simple-list {
  margin-left: -$container-padding;
  margin-right: -$container-padding;

  li.list-group-item {
    padding: $padding-vertical $container-padding $padding-vertical $container-padding;

    label, span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    label {
      padding: $padding-vertical 0 $padding-vertical $container-padding;
    }

    .textarea-form-item-label {
      padding-right: $container-padding;
      margin-bottom: 0;
    }

    textarea {
      min-height: 200px;

      margin: {
        left: $container-padding;
        right: $container-padding;
        bottom: $container-padding;
      }
    }

    .col-4 {
      padding-right: 0;
    }

    &.form-item {
      padding: 0
    }

    select, input[type=date] {
      height: 44px !important;

      border: {
        radius: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }
    }

    select {
      padding: {
        top: 10px;
        bottom: 10px;
      }
    }
  }

  @media (max-width: $sm - 1) {

    li.list-group-item {
      border-right: 0;
      border-left: 0;
      border-radius: 0;
    }
  }
}

.action-box {
  top: 0;
  position: absolute;
  padding: $padding-vertical $padding-horizontal;
  border-left: 1px solid $border-color;
  cursor: pointer;

  &:last-child {
    border-top-right-radius: .25rem;
  }

  img {
    height: $icon-sm;
    width: $icon-sm;
  }

  &:hover {
    padding: $padding-vertical - 2px $padding-horizontal - 2px;

    img {
      width: $icon-sm + 4px;
      height: $icon-sm + 4px;
    }
  }
}

.card a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.tutorial-container {
  .card {
    max-width: 330px;
    margin: {
      left: auto;
      right: auto;
    }

    img {
      object-fit: cover;
      width: 100%;
    }
  }
}


.card-title {
  padding: $container-padding / 2 0;
  margin: 0;
}

.col-6 {
  padding: {
    right: 7.5px;
    left: 7.5px;
  }

  &:first-child {
    padding-left: 15px;
  }

  &:last-child {
    padding-right: 15px;
  }
}

.loader,
.loader:after {
  display: inline-block;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(49,204,201, 0.2);
  border-right: 1.1em solid rgba(49,204,201, 0.2);
  border-bottom: 1.1em solid rgba(49,204,201, 0.2);
  border-left: 1.1em solid #31ccc9;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}